
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #eefef9;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
h2,h3,h4,h5{
    font-style: normal;
    font-weight: 500;
    color: rgb(52, 52, 52) !important;
}


.course_top_img {
    width: 100%;
    height: 500px;
}
.course_grd_text {
    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(22deg, rgba(223, 0, 0, 1) 40%, rgba(112, 0, 216, 1) 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.crs_para{
    color: rgb(88, 88, 88);
}
/* Categories Scrolling */
.scroll-container-wrapper {
    position: sticky;
    top: 70px;
    width: 100%; /* Adjust width as needed */
    margin: 0 auto;
    overflow: hidden; /* Hide the overflowing content */
    z-index: 2;
    background-color: #eefef9;
}

.scroll-container {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents items from wrapping to the next line */
    scroll-behavior: smooth; /* Smooth scrolling effect */
    padding: 10px 25px;
}

/* Individual items */
.scroll-item {
    display: inline-block;
    margin-right: 25px;
    color: rgb(96, 96, 96);
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.scroll-item.active {
    color: black;
    font-weight: 500;
    border-bottom: 2px solid #8ec8b5  ;
}

/* Hide scrollbar */
.scroll-container::-webkit-scrollbar {
    display: none;
}
.scroll-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Left and Right buttons */
.scroll-button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10; 
    border-radius: 50%;
    font-size: 22px;
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    top: 21px;
}

.scroll-button.left {
    left: -5px; 
}

.scroll-button.right {
    right: -5px; 
}

/* Optional: Show buttons when hovering over the container */
.scroll-container-wrapper:hover .scroll-button {
    display: flex;
}

#course_cards_div{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: rgba(226, 226, 226, 0.1);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 50px;
    overflow: hidden;

}

#course_cards_div a{
    position: relative;
    text-decoration: none;
    color: black;
    display:block;
    height: 320px;
    width:320px;
    background-color: white;
    border-radius: 10px;
    margin: 8px;
    box-shadow: rgba(127, 127, 127, 0.6) 5px 10px 20px -3px, rgba(0, 0, 0, 0.3) 0px 4px 6px -2px;
    transition: .3s;
    overflow: hidden;

}
.offer_lable{
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    background-color: rgba(7, 106, 255, 0.7);
    padding: 5px 20px;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 2px 2px 5px gray;
    color: rgb(255, 255, 255);
}
#course_cards_div a:hover{
    transform: translateY(-10px);
}
.course_title {
    height: 50%;
    padding: 25px;
    color: gray;
}

.course_title span i {
    margin-right: 10px;
}
.course_details {
    background: rgb(173, 223, 207);
    background: linear-gradient(90deg, rgba(173, 223, 207, 1) 0%, rgba(135, 195, 175, 1) 100%);
    height: 50%;
    padding: 10px 10px 0px 25px;
    border-radius: 0px 0px 10px 10px;
    line-height: 40px;
}

.course_details span i {
    color: #427a7a;
    margin-right: 10px;
}
.crs-msg{
    margin-top: 10px;
    font-size: 10px;
    line-height: 20px;
    color: rgb(78, 78, 78,0.8);
}

.crs_tC{
    position: absolute;
    bottom: 1px;
    right: 10px;
    font-size: 10px;
    color: rgb(78, 78, 78,0.8);
}
@media screen and (max-width: 992px) {
    .course_top_img {
        height: auto;
    }
    .course_grd_text {
        font-size: 23px;

    }
    #course_cards_div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
