
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #eefef9;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}


#grd_text{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #018001;
    
}
.crs_title{
    font-size: 40px !important;
    display: block;
    margin-bottom: 15px;
}
.course_details_card{
    margin: 20px auto;
    width: 95%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    box-shadow: 2px 2px 7px rgb(168, 168, 168,0.5);
    
}
.crs_card_left{
    padding: 18px 30px;
    width: 150%;
}
.crs_card_left p{
    color: rgb(113, 113, 113);
}
.crs_img_card img{
    width: 150%;
    border-radius: 15px;
    height: 100%;
}

.crs_img_card_mob{
    display: none;
    width: 100%;
    margin: 25px 0px;
}
.crs_img_card_mob img{
    border-radius: 15px;
}
.course_cost{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.course_cost div h4{
    color: #444444;
}
.crs_crad_btn button{
    width: 280px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
}
.crs_apply_btn{
    background:linear-gradient(90deg, #64fac7, #41cc9c) ;
    margin-right: 30px;
}
.crs_downlode_btn{
    text-decoration: none;
    background-color: #3ba7ff;
    display: inline-block;
    margin-left: 30px;
    width: 280px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
}
.crs_crad_btn_mob{
    display: none;
}

.crs_apply_btn_mob{
    background:linear-gradient(90deg, #64fac7, #41cc9c) ;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 20px;
}
.crs_downlode_btn_mob{
    text-decoration: none;
    background-color: #3ba7ff;
    display:inline-block;
    margin-top: 20px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}
.crs_syllabus_model{
    display: inline-block;
    position: relative;
    left: 15%;
    top: 30px;

}
.crs_syllabus_model li{
    color: rgb(80, 80, 80);
    list-style: none;
    font-size: 18px;
}
.crs_syllabus_model li::before{
    content: '';
    height: 8px;
    display: inline-block;
    width: 8px;
    border-radius: 50%;
    background-color: #00af00;
    margin-left: -17px;
    margin-right: 20px;
    position: relative;
    top:-1.5px;

}
.lineicon{
    display: inline-block;
    height: 17px;
    border: 1px solid rgb(88, 88, 88,0.9);
    margin-top: 3px;
    margin-left: -14px;
}
.lineicon:last-child{
    visibility: hidden;
}

.institute_words{
    margin: 0px auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.syllabuaContainer{
    overflow:hidden ;
    height: 10px;
    position: relative;
}
.syllabus_mob{
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    bottom: 0px;
    transform: translateY(645px);
    z-index: 5;
    transition:.5s ;
    border-radius: 30px 30px 0px 0px;
    top: 75px;
    padding: 30px 0px 0px;
}
.syllabuscontent{
    padding-left: 35px;
}
.syllabuscontent h2{
    font-size: 35px;
}
.syllabuscontent p{
    color: rgb(52, 52, 52) !important;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
.syllabus_mob button{
    position: absolute;
    right: 20px;
    border: none;
    background: transparent;
    font-size: 18px;
}
.syllabus_content{
    display: inline-block;
    position: relative;
    background-color: white;
    width: 100%;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    overflow-y: auto;
    height: 85vh;
    border-radius: 30px;
}
.slogan_txt{
    font-size: 30px !important;
    margin-bottom: 20px;
}
.institute_words div{
    width: 200px;
    background-color: white;
    margin: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 7px rgb(168, 168, 168,0.3);
    position: relative;
    padding: 23px 10px 20px;
}
.institute_words div img{
    width: 25px;
    position: absolute;
    top: 25px;
    left: 30px;
}
.institute_words div:nth-child(2) img{
    width: 30px !important;
    position: absolute;
    top: 28px;
    left: 30px;
}
.institute_words div h3{
    margin-bottom: 15px;
    font-size: 28px;
}
.institute_words div h5{
    color: rgb(156, 156, 156);
    font-size: 18px;
    font-weight: 500;
}
.crs_benefits{
    background-color: #f6fff9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}
.benefits_text{
    font-size: 35px !important;
    margin-bottom: 30px;
    color: #018001;
}   
.benefits_img_box img{
    width: 90%;
    border-radius: 30px;
}

.benefits_txt div{
    display: flex;
    padding: 18px 0px 5px 20px;
    margin: 15px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(171, 171, 171,0.5)
}
.benefits_txt div img{
    width: 20px;
    margin-right: 10px;
    margin-top: -15px;
}
.benefits_txt div:nth-child(1){
    background-color: #feffe7;
    position: relative;
}
.benefits_txt div:nth-child(2){
    background-color: #e7ffeb;
    position: relative;
    left: -30px;
}
.benefits_txt div:nth-child(3){
    background-color: #e7f8ff;
    position: relative;
    left: -50px;
}
.benefits_txt div:nth-child(4){
    background-color: #f7eafe;
    position: relative;
    left: -70px;
}
.crs_aboutus{
    padding: 40px 10px;
    background: linear-gradient(22deg ,#5dd4df, #6ec5ef) ;
    color: white;
    border-radius: 130px 3px 150px 3px;
    margin: 50px auto;
}
.aboutus_img{
    display: inline;
    padding: 80px 0px 0px
}
.aboutus_img img{
    width: 60%;
    border-radius: 1px 50px 1px 50px;
}
.crs_about_txt{
    padding: 8% 0px 0px 10%;
}
.crs_about_txt p{
    font-size: 18px;
}


@media screen and (min-width: 992px) {
    .syllabus_mob{
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .crs_title{
        font-size: 30px !important;
    }
    .crs_card_left{
        padding: 18px;
        width: 100%;
    }

    .crs_crad_btn_mob button{
        padding: 10px ;
    }
  
    .course_cost div{
        margin-right: 25px;
    }

    .course_cost div h4{
        color: gray;
        font-size: 18px;
    }

    .course_cost div span{
        font-size: 13px !important;
    }

    .crs_img_card{
        display: none;
    }
    .crs_img_card_mob{
        display: block;
    }
    .course_details_card{
        display: auto;
    }
    .crs_crad_btn{
        display: none;
    }
    .crs_crad_btn_mob{
        display: block;
    }
    
    .institute_words div{
        width: 140px;
        margin: 8px;
        height: 100px;
    }
    .institute_words div img{
        width: 15px;
        position: absolute;
        top: 25px;
        left: 27px;
    }
    .institute_words div:nth-child(2) img{
        width: 18px !important;
        position: absolute;
        top: 28px;
        left: 27px;
    }
    .institute_words div h3{
        margin-bottom: 15px;
        font-size: 18px;
    }
    .institute_words div h5{
        font-size: 13px;
    }

    .benefits_txt div{
        left: 0px !important;
        padding: 10px 10px 0px;
    }
    .crs_aboutus{
        text-align: center;
        position: relative;
        height: 670px;
        margin-top: 10px;
    }
    .aboutus_img{
        display: inline;
        padding: 30px 0px 0px
    }
    .aboutus_img img{
        width: 60%;
    }
    .crs_about_txt{
        padding: 0px 5%;
        position: absolute;
        bottom: 8%;
    }
    .crs_about_txt p{
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) {
    .aboutus_img img{
        width: 80%;
    }
}
@media screen and (max-width: 490px) {
    .crs_aboutus{
        height: 610px;

    }
    .crs_about_txt{
        bottom: 9%;
    }
}