.tob_banner_div{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(189, 189, 189, 0.9);
    position: fixed;
    top: 0px;
    z-index: 10;
}

.banner_content{
    height: 400px;
    width: 700px;
    margin: 100px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.banner_close_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}


@media screen and (max-width:775px) {
    .banner_content{
        width: 80%;
    }
    .banner_inner_div :nth-child(1) img{
        width: 100%;
        position: absolute;
        top: -10vw;
         
    }
    .banner_inner_div :nth-child(2){
        background: white;
        position: absolute;
        bottom: 100px;
    }
    /* .banner_form div input{
        width: 90%;
    }
    .banner_inner_div{
        width: 100%;
        display: flex;
        flex-direction: column;
    } */
}