
.footer_container{
    background-color:#f8f8f866 ;
    padding: 10px 0px;
}
.foot_logo_img img{
    width: 100px;
}
p,.foot_supports_links a,ul a{
    font-size: 15px;
}
.foot_links ul,.foot_cours ul, .foot_cours_mob ul{
    list-style: none;
    padding: 0px;
    line-height: 15px;
}
.footer_container p{
    color: #7a8b94;
}
.footer_container a{
    color: #7a8b94 !important;
}
ul a{
    text-decoration: none;
    display: inline-block;
    margin-top: 7px;
}
.foot_work_hrs,.foot_getin_tch{
    line-height: 5px;
}
div h5{
    font-weight: bold;
    font-size: 15px;
    color: #3c4852 !important;
}
div h5{
    margin-bottom: 2px;
}
.getin h5 h5,.foot_getin_tch h5,.foot_work_hrs h5{
        margin-bottom: 15px;
    }
.foot_social_media{
    margin-top: 30px;
}
.foot_social_media a{
    display: inline-block;
    background-color: rgba(108, 108, 108, 0.2);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.foot_social_media a i{
    color: rgb(52, 52, 52);
    font-size: 20px;
    position: relative;
    top: 15px;
}
.foot_social_media a:hover{
    background-color: rgba(59, 59, 59, 0.2);
}

.foot_supports_links a{
    display: block;
    text-decoration: none;
    margin-bottom: 8px;
    color: rgb(28, 28, 28);
}
.foot_supports_links a i{
    margin-right: 10px;
}
.foot_cours_mob, .foot_work_hrs_mob{
    display: none;
}
@media screen and (max-width:992px){
    p,.foot_supports_links a,ul a{
        font-size: 11px;
    }
    .footer_container{
        margin-bottom: 30px;
    }
    .row >div{
        margin-bottom: 3px;
    }
    div h5{
        margin-bottom: -1px;
    }
    .foot_work_hrs h5,.foot_work_hrs_mob h5,.foot_getin_tch h5{
        margin-bottom: 10px;
    }
    .foot_cours_mob, .foot_work_hrs_mob{
        display: block;
    }
    .get_in,.offer_div{
        display: none;
    }
}