.nav{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 0px 8px rgb(191, 191, 191);
}

nav {
    position: sticky;
    top: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.logo_img {
    width: 100px;

}

.logo_img img {
    width: 100%;
}


.srch_input {
    position: relative;
}

.srch_input_1 {
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(226, 226, 226);
    padding-left: 20px;
    padding-right: 60px;
}

.srch_input_1:focus {
    border: 1px solid rgb(160, 160, 160);
    outline: none;
}

.searchresultdiv{
    display: none;
    width: 300px;
    background-color: white;
    position: absolute;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    left: 10px;
    top: 55px;
    padding: 10px;
}
.searchresultdiv a{
    display: block;
    border-bottom: 1px solid rgb(239, 239, 239,0.5);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: rgba(56, 56, 56, 0.7);
}
.searchresultdiv a:hover{
    background-color: rgb(250, 250, 250);
    color: #80be82;
}
.searchresultdiv a:last-child{
    border: none;
}

.srch_input button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: green;
}

.course_dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px 50px 7px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
}
.course_dropbtn img{
    position: absolute;
    width: 12px;
    right: 20px;
    top: 13px;
    transition: 0.2s;
}
#nav_last_btn{
    display: flex;
    float: right;
}
#nav_last_btn>div{
    display: none;
    margin-left: 20px;
}
#open_serachbtn_mob,#close_serachbtn_mob{
    color: black !important;
    font-size: 15px;
    margin-top: 8px;
    display: block;
}
#close_serachbtn_mob{
    display: none; 
}

.course_mob_btn{
    background-color: #00ad42;
    color: white;
    padding: 3px 30px 5px 15px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;

}

.course_mob_btn img{
    width: 12px;
    position: absolute;
    top: 8px;
    right: 10px;
}

.course_dropdown {
    position: relative;
    display: inline-block;
}

.course_dropdown-content {
    display:none ;
    position: absolute;
    top: 38px;
    left: -55px;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.course_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.course_dropdown-content a:hover {
    background-color: #49ba4d;
    color: white;
}

.course_dropdown:hover .course_dropdown-content {
    display: block;
}
.course_dropdown:hover .course_dropbtn img{
    transform: rotate(180deg);
}

#course_dropdown_mob{
    display: none;
}
.catgr_link{
    position: relative;
}
.catgr_link_btn{
    position: relative;
}
.catgr_link_btn img{
    position: absolute;
    right: 20px;
    top: 18px;
    width: 8px;
}
.catgr_dropdown_content{
    display: none;
    position: absolute;
    top: 5px;
    right: -200px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
}
.catgr_dropdown_content a{
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
}
.catgr_link:hover .catgr_dropdown_content{
    display: block;
}

.nav_links>div{
    display: inline-block;
    margin-right: 50px;
}
.nav_links>div a {
    display: block;
    color: rgb(69, 69, 69);
    text-decoration: none;
    font-size: 15px;
}

.profile_icon,.profile_icon_mob {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid gray;
}
.profile_icon_mob{
    position: relative;
    left: -11px;
}

.nav_link_mob {
    list-style: none;
    padding-left: 0px;

}

.admin_signin_btn span{
    margin-left: 10px;
}
.admin_signin_btn,
#top_nav_link_mob,
.nav_link_mob li a,
.dropdown_mob {
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 100%;
    padding: 10px 0px 15px 10px;
    color: rgb(69, 69, 69);
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 17px;
}

.course_catgr_side_nav{
    border: 2px solid rgb(186, 186, 186);
    background-color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 70px;
    z-index: 2;
    transform: translateX(100%);
    transition: 0.2s;
}
.catgr_side_nav_title{
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(22deg, rgba(223, 0, 0, 1) 10%, rgba(112, 0, 216, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px 0px 0px 20px;
}

.catgr_side_nav_back_btn{
    border: none;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 15px;
    font-weight: 600;
}
.catgr_side_nav_back_btn img{
    width: 15px;
    position: relative;
    top: -2px;
    left: -5px;
}

.catgr_side_dropdown{
    display: flex;
    flex-direction: column;
    position: relative;
}
.catgr_side_dropdown >img{
    width: 7px;
    position: absolute;
    right: 25px;
    top: 21px;
}
.catgr_drop_btn, .side_nav_sub_catgr a{
    display: block;
    border-bottom: 0.1px solid rgb(209, 209, 209,0.6);
    margin: 0px 15px;
    padding: 15px 5px;
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 15px;
}
.side_nav_sub_catgr a{
    margin: 0px 15px;
}
.side_nav_sub_catgr{
    position: absolute;
    top: 0px;
    background-color: white;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.2s;
}
.catgr_side_dropdown:hover .side_nav_sub_catgr{
    transform: translateX(0%);
}
@media screen and (min-width: 992px) {
    .srch_input{
        display: block !important;
    }
}
@media screen and (max-width: 992px) {
    nav {
        justify-content: space-between;
    }
    .nav_links,
    .cover_img_pc {
        display: none;
    }

    .cover_img_mob,#nav_last_btn >div {
        display: block;
    }
    .logo_img{
        width: 75px;
        position: absolute;
        top: 18.5px;
        left: 15%;
        transform: translateX(-20%);
    }
    .logo_img_mob img {
        width: 80px;
        position: absolute;
        top: 17px;
        left: 50%;
        transform: translateX(-50%);
    }
    .srch_input{
        position: absolute;
        top: 76px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        display: none;
    }

    .srch_input_1{
        width: 100%;
        border-radius: 7px;
    }  

    .course_dropdown-content {
        top: 40px;
        left: -55px;
        min-width: 200px;
    }
    #course_dropdown_mob{
        display: block;
    }
    .course_dropbtn {
        padding: 6px 40px 6px 20px;
        border-radius: 50px;
        font-size: 13px;
    }
    .course_dropbtn img{
        right: 15px;
        top: 9px;
    }
    .catgr_dropdown_content{
        top: 5px;
        right: -200px;
        
    }
    .course_mob_btn{
        display: block;
        position: relative;
        top: 0px;
    }
}