* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.cover_img_mob {
    display: none;
}

.cover_overlay {
    position: absolute;
    top: 6vw;
    left: 100px;
}

.cover_overlay h1 {
    font-size: 4vw;
}

.cover_overlay p {
    font-size: 1.3vw;
    margin-top: 20px;
}

.cover_overlay_link {
    position: absolute;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 1.2vw;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 1vw;
}

.cover_overlay_circle {
    display: inline-block;
    margin-left: 50px;
    height: 3.4vw;
    width: 3.4vw;
    border-radius: 50%;
    background-color: #71e2ba;
}

.fa-arrow-right {
    position: relative;
    top: 3px;
    left: 5px;


}

.business_numbers {
    position: relative;
    top: -20px;
    width: 60% !important;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 10px 1px #97c5b6, 5px 20px 10px rgb(197, 194, 194, 0.5), -5px 5px 10px rgb(197, 194, 194, 0.5);
    margin-bottom: 50px;

}

.business_numbers div {
    text-align: center;
}

.business_numbers h2 {
    font-weight: 600;
    font-size: 40px;
}

.business_numbers h5 {
    font-size: 19px;
    font-weight: 500;
}

.business_numbers span {
    height: 80px;
    width: 1px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
}

.explore_link {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    transition: .2s ease-out;
}

.explore_link:hover {
    word-spacing: 2px;
    letter-spacing: .5px;
}

/*    card slider styles   */

.all_courses_title {
    padding-left: 5vw;
}

.all_courses_title a {
    display: inline-block;
}
.all_courses{
    overflow: hidden;
}

#crs_left_btn,#crs_right_btn{
    background-color: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 10px rgb(169, 169, 169);
    font-size: 25px;
    padding-bottom: 5px;
    color: gray;
    font-weight: 700;
}
.all_courses_container {
    background-color: #f5f5f7;
    padding: 20px;
    margin-top: 50px;
}

.all_courses_list {
    text-decoration: none;
    color: black;
    display:inline-block;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(127, 127, 127, 0.6) 5px 10px 20px -3px, rgba(0, 0, 0, 0.3) 0px 4px 6px -2px;
    transition: .3s linear;
}
#card_slider{
    position: relative;
}
#crs_left_btn{
    position: absolute;
    left: 10px;
    top: 270px;
    z-index: 4;
   
}
#crs_right_btn{
    position: absolute;
    right: 10px;
    top: 270px;
    z-index: 4;
   
}


/*  Trand Course styles */

.trand_courses_container {
    background-color: #f5f5f7;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.trend_courses_list {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 300px;
    width: 290px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(127, 127, 127, 0.6) 5px 10px 20px -3px, rgba(0, 0, 0, 0.3) 0px 4px 6px -2px;
    transition: .3s linear;
}

.carousel-item>a {
    text-align: left;
}

.course_title {
    height: 50%;
    padding: 25px;
    color: gray;
}

.course_title span i {
    margin-right: 10px;
}

.course_details {
    background: rgb(173, 223, 207);
    background: linear-gradient(90deg, rgba(173, 223, 207, 1) 0%, rgba(135, 195, 175, 1) 100%);
    height: 50%;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
    line-height: 40px;
}

.course_details span i {
    color: #427a7a;
    margin-right: 10px;
}

.trend_courses_container_mob {
    display: none;
}

.swiper {
    width: 600px;
    height: 300px;
}

.testimonial_txt {
    font-size:20px; 
    font-weight:600;
}
.std_msg{
    font-weight: 490 !important;
    color: rgb(27, 27, 27) !important;
}
.std_details{
    color: rgb(27, 27, 27) !important;
    line-height: 10px;
}
.std_testimonial_box{
    padding: 0px 12vw;
}
.supports{
    margin-top: 10px;
}

#supports_txt{
    color: white !important;
}
.supports_links :nth-child(1){
   margin-right: 5px;
}

.supports_links a{
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white !important;
    padding-right: 10px;
}
.supports_links a i{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.trand_courses{
    margin-top: 100px;
}

.qas_div{
    margin-bottom: 10px;
}

.dbts{
    background-color:  rgb(240, 240, 240);
    padding: 15px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
}
.dbts_ans{
    background-color: rgb(223, 223, 223);
    padding: 25px;
}

@media screen and (max-width: 992px) {
    .business_numbers h2 {
        margin-top: 8px;
        font-weight: 700;
        font-size: 16px;
    }

    .business_numbers h5 {
        
        font-weight: 500;
        font-size: 8px;
    }

    .business_numbers span {
        height: 40px;
        margin: 0px 10px;
        position: relative;
        top: 10px;
        width: 1px;
        border: 1px solid rgb(167, 167, 167, 0.5);
    }

    .business_numbers {
        padding: 5px;
        width: 80% !important;
        top: -10px;
        box-shadow: 0px 3px 1px #97c5b6, 5px 5px 10px rgb(197, 194, 194, 0.7), -5px 5px 10px rgb(197, 194, 194, 0.7);
    }

    .cover_overlay {
        display: none;
    }
    .testimonial{
        height: 560px !important;
    }
}

@media screen and (max-width:775px) {
    .trend_courses_container_mob {
        display: block;
    }

    .trand_courses_container {
        display: none;
    }
    .trand_courses{
        margin-top: 50px;
    }
    .supports_links a{
        margin-right: 0px;
        font-size: 12px;
    }
    #crs_left_btn,#crs_right_btn{
        display: none;
    }
}