*{
    margin:0px;
    padding: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
  }

  nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_img {
    width: 100px;

}

.logo_img img {
    width: 100%;
}

.nav_dropdown {
    background-color: white;
    border: none;
    font-size: 15px;
    color: rgb(69, 69, 69);
}

.srch_input {
    position: relative;
}

.srch_input_1 {
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(226, 226, 226);
    padding-left: 20px;
}

.srch_input_1:focus {
    border: 1px solid rgb(160, 160, 160);
    outline: none;
}

.srch_input button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: green;
}

.srch_input_mob {
    display: none;
    position: absolute;
    right: 10px;
    top: -14px;
}

.srch_input_1_mob {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid rgb(226, 226, 226);
    padding-left: 10px;
    transition: 1s;
}

.srch_input_1_mob:focus {
    border: 1px solid rgb(160, 160, 160);
    outline: none;
}

.srch_input_mob:hover .srch_input_1_mob {
    width: 150px;
}

.srch_input_mob button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    border: none;
    background-color: green;
}

.nav_links {
    display: inline;
}

.nav_links ul {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
    padding-top: 15px;

}

.nav_links ul a {
    display: inline-block;
    color: rgb(69, 69, 69);
    text-decoration: none;
    margin-right: 35px;
    font-size: 15px;
}

.profile_icon {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid gray;
}

.nav_link_mob {
    list-style: none;
    padding-left: 0px;

}

#top_nav_link_mob,.nav_link_mob li a,.dropdown_mob{
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 100%;
    padding: 10px 0px 15px 10px;
    color: rgb(69, 69, 69);
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}
.profile_icon_mob{
    display: none;
}


@media screen and (max-width: 992px) {

.dropdown,
.nav_links,
.srch_input,
.cover_img_pc {
    display: none;
}

.cover_img_mob,.profile_icon_mob {
    display: block;
}

.srch_input_mob {
    display: block;
}

.logo_img_mob img,.logo_img{
    width: 80px;
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
}

}