
.footer_container{
    background: linear-gradient(5deg, #ffffff, #4db8a4);
    padding: 10px 0px;
    color: rgb(28, 28, 28);
}
.foot_logo_img img{
    width: 100px;
}
p,.foot_supports_links a,ul a{
    font-size: 15px;
}
.foot_links ul,.foot_cours ul, .foot_cours_mob ul{
    list-style: none;
    padding: 0px;
    line-height: 15px;
}
ul a{
    text-decoration: none;
    display: inline-block;
    margin-top: 7px;
    color: rgb(28, 28, 28);
}
.foot_work_hrs,.foot_getin_tch{
    line-height: 5px;
}
div h5{
    margin-bottom: 5px;
    font-weight: bold;
}
.foot_social_media{
    margin-top: 30px;
}
.foot_social_media a{
    background-color: rgba(50, 50, 50, 0.2);
    padding: 10px 13px 9px;
    border-radius: 50%;
    margin-right: 5px;
}
.foot_social_media a i{
    color: black;
    font-size: 18px;
}

.foot_supports_links a{
    display: block;
    text-decoration: none;
    margin-bottom: 8px;
    color: rgb(28, 28, 28);
}
.foot_supports_links a i{
    margin-right: 10px;
}
.foot_cours_mob, .foot_work_hrs_mob{
    display: none;
}
@media screen and (max-width:992px){
    p,.foot_supports_links a,ul a{
        font-size: 11.2px;
    }
    .footer_container{
        margin-bottom: 30px;
    }
    .row >div{
        margin-bottom: 5px;
    }
    .foot_cours_mob, .foot_work_hrs_mob{
        display: block;
    }
    .get_in,.offer_div{
        display: none;
    }
}